.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	color: rgb(13, 9, 17);
}
body {
	background-color: blueviolet;
}
button {
	background-color: rgb(198, 79, 186);
	color: black;
	border-color: black;
}
